body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

.App-header {
  background-color: #b5b7bb;
  padding: 20px;
  color: white;
}

.currency-select-container {
  margin-bottom: 20px;
}

.currency-select-container label {
  margin-right: 10px;
  font-weight: bold;
  color: #ffffff;
}

.currency-select {
  padding: 8px;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

.crypto-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.crypto-item {
  background-color: #c92323;
  border: 1px solid #e48484;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  transition: transform 0.2s;
  cursor: pointer;
}

.crypto-item:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 4px rgba(188, 23, 23, 0.1);
}

.crypto-price {
  margin-top: 5px;
  font-weight: bold;
}

.App-footer {
  margin-top: 20px;
  color: #ffffff;
}
