<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> CryptoCurrency Monitor</title>
</head>
<body>
    <h1> Selecione uma nova criptomoeda! </h1>
    <form action="/addNewCrypto" method="POST" class="form">
        <div class="form-control">
            <label for="username"> Username </label>
            <input type="text" name="username" placeholder="Informe seu nome de usuário" required>
        </div>

        <label for="coin">Escolha uma opção:</label>
        <select name="coin" id="coin">
            <option value="" disabled selected> Selecione uma opção </option>
            <option value="BTC"> Bitcoin </option>
            <option value="ETH"> Ethereum </option>
            <option value="BNB"> Binance </option>
        </select>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>