<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Bem vindo ao CryptoCurrency Monitor! </h1>
    <a href="/addUser.html"> Adicionar um usuário </a>
    <br>
    <a href="/removeUser.html"> Remover um usuário </a>
    <br>
    <a href="/usernameCrypto.html"> Ver minhas criptomoedas </a>
    <br>
    <a href="/addCrypto.html"> Adicionar criptomoeda </a>
</body>
</html>