<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> CryptoCurrency Monitor </title>
</head>
<body>
    <h1> Informe o username para visualizar suas criptomoedas! </h1>
    <form action="/getCryptoPrice" method="GET" class="form">
        <div class="form-control">
            <label for="username"> Username </label>
            <input type="text" name="username" placeholder="Informe seu nome de usuário">
        </div>

        <input type="submit" value="Ver moedas">
    </form>
</body>
</html>